@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}


body {
  overscroll-behavior-y: none;
  font-family: 'Inter var', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: black;
  background: #FFFFFF;
}